:root {
  --ice: #81a4cd;
  --blue: #dbe4ee;
  --orange: #f17300;
  --purple: #473144;
  --green: #6baa75;
}

body {
  background: var(--blue);
  color: var(--purple);
  margin: 2em;
}

header {
  margin-bottom: 1em;
}

h1, h2 {
  color: var(--orange);
  text-align: center;
}

nav {
  text-align: center;
}

nav > a, nav > a:visited {
  margin: 0 1em;
  color: var(--orange);
  text-decoration: none;
}
nav > a:hover {
  color: var(--green);
  text-decoration: underline;
}